.head{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.head a{
	color: blue;
}

.image{
	width: 150px;
	height: 150px;
	float:left;
	margin-right: 5px;
}

.font {
        font-family: 'Josefin Slab', serif;
        font-size: 48px;
       
      }

.enhance{
	margin-right: 0px;
	margin-left:0px;
	margin-top: 60px;
	box-shadow: 10px 10px 5px #888888; 
}
body{
	background-color: #eee;
}
.enhance h4{
	margin-top:20px;
}

.mar-lef-right{
	margin-left: 0px ;
	margin-right: 0px;
}

.internal{
	margin-left: 25px;
	margin-right: 25px;
}
.internaltwo{
	margin-left: 5px;
	margin-right: 5px;
}